# Environment files
.env
.env.*
!.env.example

# Database
*.db
*.db-journal

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Flask instance folder
instance/

# Logs
*.log

# OS
.DS_Store
Thumbs.db